<div style="background: linear-gradient(135deg, #000000, #6e12ff, #0019ff, #00cfff);
            padding: 20px;
            border-radius: 12px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #ffffff;
            font-family: Arial, sans-serif;">

<!-- Left: Title and Subtitle -->
<div>
    <h1 style="margin: 0; color:#fff; font-size: 28px; font-weight: 600;">SQL Interview Questions</h1>
    <p style="margin: 4px 0 8px 0; font-size: 13px; opacity: 0.85;">
        This notebook contains 10 SQL interview questions ranging from beginner to advanced level.
    </p>
    <br>
    <div style="font-size: 12px; opacity: 0.9;">
        <div><strong>Prepared by:</strong> Mohamed Bakr</div>
        <div><strong>Date:</strong> <!-- {{date}} --></div>
        <div><strong>Version:</strong> 1.0</div>
    </div>
</div>

<!-- Right: Nisum Logo -->
<div style="flex-shrink: 0; margin-left: auto;">
    <img src="https://www.nisum.com/hubfs/nisum-logo.webp" 
         alt="Nisum Logo" 
         style="height: 40px;">
</div>
</div>

---

## Table of Contents

<div style="background-color: #f8fcff; padding: 20px; border-left: 4px solid #0019ff; margin: 20px 0;">

1. **[Database Schema:](#Database-Schema:)**
2. **[Q1: Retrieve all agents who work in New York](#Q1:-Retrieve-all-agents-who-work-in-New-York)**
3. **[Q2: List all customers with an outstanding amount greater than 5000](#Q2:-List-all-customers-with-an-outstanding-amount-greater-than-5000)**
4. **[Q3: Find total order amount by each agent](#Q3:-Find-total-order-amount-by-each-agent)**
5. **[Q4: Get the average commission by working area and identify high-commission locations](#Q4:-Get-the-average-commission-by-working-area-and-identify-high-commission-locations)**
6. **[Q5: Retrieve all customers and their total payments](#Q5:-Retrieve-all-customers-and-their-total-payments)**
7. **[Q6: List customers who have placed more than 2 orders](#Q6:-List-customers-who-have-placed-more-than-2-orders)**
8. **[Q7: Find top 3 agents by total sales (ORD_AMOUNT)](#Q7:-Find-top-3-agents-by-total-sales-(ORD_AMOUNT))**
9. **[Q8: Show each agent's total revenue and commission earned](#Q8:-Show-each-agent's-total-revenue-and-commission-earned)**
10. **[Q9: Identify top 5 customers with the highest outstanding balance](#Q9:-Identify-top-5-customers-with-the-highest-outstanding-balance)**
11. **[Q10: Find agents who have customers from multiple countries](#Q10:-Find-agents-who-have-customers-from-multiple-countries)**

## Database Schema:
- ***AGENTS:*** Agent information with commissions
- ***CUSTOMER:*** Customer details and relationships
- ***ORDERS:*** Order transactions
- ***PRODUCTS:*** Product catalog
- ***PAYMENTS:*** Payment records

In [ ]:
# run as is
import sqlite3
import pandas as pd

# Create in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

print("Database connection established successfully!")

In [ ]:
# run as is
# Read and execute SQL setup file
with open('database_setup.sql', 'r') as f:
    sql_script = f.read()

# Execute the entire script
cursor.executescript(sql_script)
conn.commit()

print("Database schema and sample data loaded successfully!")

# Verify tables were created
verify_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(verify_query, conn)
print("\nTables in database:")
print(tables)

---
## Q1: Retrieve all agents who work in New York

**Expected result:**

| AGENT_CODE | AGENT_NAME | WORKING_AREA | COMMISSION | PHONE_NO     |
| ---------- | ---------- | ------------ | ---------- | ------------ |
| A008       | Alford     | New York     | 0.12       | 044-25874365 |

In [ ]:
query = """
# add your query here
"""

print("\nResult:")
pd.read_sql_query(query, conn)

---
## Q2: List all customers with an outstanding amount greater than 5000

**Expected result:**

| CUST_CODE | CUST_NAME  | CUST_CITY | CUST_COUNTRY | OUTSTANDING_AMT |
| --------- | ---------- | --------- | ------------ | --------------- |
| C00009    | Ramesh     | Mumbai    | India        | 12000           |
| C00014    | Rangarappa | Bangalore | India        | 12000           |
| C00016    | Venkatpati | Bangalore | India        | 12000           |
| …         | …          | …         | …            | …               |
| C00020    | Albert     | New York  | India        | 6000            |
| C00024    | Cook       | London    | UK           | 6000            |
| C00004    | Winston    | Brisban   | Australia    | 6000            |

In [ ]:
query = """
# add your query here
"""

print("\nResult:")
pd.read_sql_query(query, conn)

---
## Q3: Find total order amount by each agent

**Expected result:**

| AGENT_CODE | AGENT_NAME | WORKING_AREA | TOTAL_ORDER_AMOUNT |
| ---------- | ---------- | ------------ | ------------------ |
| A010       | Santakumar | Chennai      | 17000              |
| A002       | Mukesh     | Mumbai       | 12700              |
| A004       | Ivan       | Torento      | 9500               |
| …          | …          | …            | …                  |
| A007       | Ramasundar | Bangalore    | 2500               |
| A001       | Subbarao   | Bangalore    | 800                |
| A009       | Benjamin   | Hampshair    | 500                |

In [ ]:
query = """
# add your query here
"""

print("\nResult:")
pd.read_sql_query(query, conn)

---
## Q4: Get the average commission by working area and identify high-commission locations

**Expected result:**

| WORKING_AREA | NUM_AGENTS | AVG_COMMISSION | MIN_COMMISSION | MAX_COMMISSION |
| ------------ | ---------- | -------------- | -------------- | -------------- |
| Torento      | 1          | 0.1500         | 0.15           | 0.15           |
| Bangalore    | 3          | 0.1467         | 0.14           | 0.15           |
| London       | 2          | 0.1400         | 0.13           | 0.15           |
| ...          | ...        | ...            | ...            | ...            |
| New York     | 1          | 0.1200         | 0.12           | 0.12           |
| Mumbai       | 1          | 0.1100         | 0.11           | 0.11           |
| Hampshair    | 1          | 0.1100         | 0.11           | 0.11           |

In [ ]:
query = """
# add your query here
"""

print("\nResult:")
pd.read_sql_query(query, conn)

---
## Q5: Retrieve all customers and their total payments

**Expected result:**

| CUST_CODE | CUST_NAME | CUST_COUNTRY | NUM_PAYMENTS | TOTAL_PAYMENTS |
| --------- | --------- | ------------ | ------------ | -------------- |
| C00005    | Sasikant  | India        | 1            | 4000           |
| C00021    | Jacks     | Australia    | 1            | 3500           |
| C00004    | Winston   | Australia    | 1            | 3200           |
| …         | …         | …            | …            | …              |
| C00023    | Karl      | UK           | 0            | 0              |
| C00024    | Cook      | UK           | 0            | 0              |
| C00025    | Ravindran | India        | 0            | 0              |

In [ ]:
query = """
# add your query here
"""

print("\nResult:")
pd.read_sql_query(query, conn)

---
## Q6: List customers who have placed more than 2 orders

**Expected result:**

| CUST_CODE  | CUST_NAME  | CUST_COUNTRY | ORDER_COUNT| TOTAL_ORDER_VALUE |
| ---------- | ---------- | ------------ | ---------- | ----------- |
| C00007     | Ramanathan | India        | 3          | 10500       |
| C00009     | Ramesh     | India        | 3          | 5200        |
| C00022     | Avinash    | India        | 3          | 5000        |

In [ ]:
query = """
# add your query here
"""

print("\nResult:")
pd.read_sql_query(query, conn)

---
## Q7: Find top 3 agents by total sales (ORD_AMOUNT)

**Expected result:**

| AGENT_CODE | AGENT_NAME | WORKING_AREA | COMMISSION | NUM_ORDERS | TOTAL_SALES |
| ---------- | ---------- | ------------ | ---------- | ---------- | ----------- |
| A010       | Santakumar | Chennai      | 0.14       | 5          | 17000       |
| A002       | Mukesh     | Mumbai       | 0.11       | 7          | 12700       |
| A004       | Ivan       | Torento      | 0.15       | 4          | 9500        |

In [ ]:
query = """
# add your query here
"""

print("\nResult:")
pd.read_sql_query(query, conn)

---
## Q8: Show each agent's total revenue and commission earned

**Expected result:**

| AGENT_CODE | AGENT_NAME | WORKING_AREA | COMMISSION_RATE | NUM_ORDERS | TOTAL_REVENUE | COMMISSION_EARNED | NET_REVENUE |
| ---------- | ---------- | ------------ | --------------- | ---------- | ------------- | ----------------- | ----------- |
| A010       | Santakumar | Chennai      | 0.14            | 5          | 17000         | 2380.0            | 14620.0     |
| A004       | Ivan       | Torento      | 0.15            | 4          | 9500          | 1425.0            | 8075.0      |
| A002       | Mukesh     | Mumbai       | 0.11            | 7          | 12700         | 1397.0            | 11303.0     |
| …          | …          | …            | …               | …          | …             | …                 | …           |
| A012       | Lucida     | San Jose     | 0.12            | 2          | 2900          | 348.0             | 2552.0      |
| A001       | Subbarao   | Bangalore    | 0.14            | 1          | 800           | 112.0             | 688.0       |
| A009       | Benjamin   | Hampshair    | 0.11            | 1          | 500           | 55.0              | 445.0       |

In [ ]:
query = """
# add your query here
"""

print("\nResult:")
pd.read_sql_query(query, conn)

---
## Q9: Identify top 5 customers with the highest outstanding balance
(orders placed minus payments received)

**Expected result:**

| CUST_CODE | CUST_NAME  | CUST_COUNTRY | RECORDED_OUTSTANDING | TOTAL_ORDERS | TOTAL_PAYMENTS | CALCULATED_BALANCE |
| --------- | ---------- | ------------ | -------------------- | ------------ | -------------- | ------------------ |
| C00007    | Ramanathan | India        | 9000                 | 10500        | 1500           | 9000               |
| C00025    | Ravindran  | India        | 8000                 | 5000         | 0              | 5000               |
| C00008    | Karolina   | Canada       | 5000                 | 5500         | 1200           | 4300               |
| C00009    | Ramesh     | India        | 12000                | 5200         | 1000           | 4200               |
| C00024    | Cook       | UK           | 6000                 | 2500         | 0              | 2500               |

In [ ]:
query = """
# add your query here
"""

print("\nResult:")
pd.read_sql_query(query, conn)

---
## Q10: Find agents who have customers from multiple countries

**Expected result:**

| AGENT_CODE | AGENT_NAME | WORKING_AREA | NUM_COUNTRIES | COUNTRIES  | NUM_CUSTOMERS |
| ---------- | ---------- | ------------ | ------------- | ---------- | ------------- |
| A008       | Alford     | New York     | 2             | USA, India | 3             |

In [ ]:
query = """
# add your query here
"""

print("\nResult:")
pd.read_sql_query(query, conn)

---
## Close Connection

In [ ]:
# Close the database connection
conn.close()
print("Database connection closed successfully!")